ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#root {
  background-color: rgb(72, 73, 71);
  border: 3px solid gray;
  width: 200px;
  color: rgb(106, 192, 231);
}
.folder {
  padding-left: 20px;
  background-image: url('folder.png');
  background-repeat: no-repeat;
}

.folder > ul {
  display: none;
}

.folder.open > ul {
  display: block;
}

.file {
  padding-left: 20px;
  background-image: url('file.png');
  background-repeat: no-repeat;
  border: 3px solid gray;
  background-color: rgb(92, 89, 89);
  color: white;
}
#same {
  cursor: pointer;
}
